/*.title:hover{
	color: red;
}

h3[class=subtitle]{
	color: pink;
}

.subtitle{
	color: blue;
}
#parag{
	color: green;
}

#google-link:link{
	color: blue;
}
#google-link:visited{
	color: red;
}


h2 + a{  uvek kada idu jedan posle drugog 
	color:  green;
}

textarea ~ button{  uvek kada su u istom parentu 
	color: purple;
}

ul > li {  za svaki li u ul prvi 
	color:  blue;
}

ul li {  
	color: green;
}

h3[class~=article-subtitle]{
	background: green;
}*/

body{
	/*background-image: url("https://img.freepik.com/free-vector/nature-scene-with-river-hills-forest-mountain-landscape-flat-cartoon-style-illustration_1150-37326.jpg?size=626&ext=jpg&ga=GA1.2.1415760153.1623196800")
*/
	/*font-size: 2mm;*/
	background: linear-gradient(to bottom, rgba(204,229,255, 1), rgba(204,229,255, 0.2));
	text-transform:  capitalize;
	text-align: justify;
	font-size: 0.7em;
	/*font-family:  "Arial", serif;*/
	font-family: 'Comfortaa', cursive;
}

#title2{
	color: rgb(184, 127, 50);
	/*font-weight: 0;*/
}

.subtitle2{
	color:  rgb(200, 149, 28);
}

#service-image{
	height: 20vh;
	width: 70vw;
	background: linear-gradient(1deg, rgb(94,255,126), rgba(94,255,126,0));
	/*background:  radial-gradient(red 20%,blue 40%, green 55%);*/
	/*display: none;*/
}

#google-link{
	text-decoration:  underline;
	
}

.italics{
	font-style: italic;
}

#landscape-image{
	height: 300px;
	width: 60%;
	border: 2px solid rgb(11, 39, 161);
	/*float: right;*/
	padding: 1px;
}

.container{
	background-color: rgb(250,250,250);
	margin: 10px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.container-item{
	background: rgb(36,130,39);
	color: white;
	font-size: 13px;
	text-align: center;

	width: 35px;
	line-height: 25px;
	margin: 10px;
}
